*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #baafc4;
}

header, .nav-link{
    background-color: #3b234a;
    color: #fff;
    padding: 12px;
}

.navbar-toggler-icon{
    background-color: #fff;
    border-radius: 5px;
}


main .container{
    margin-top: 50px;
}

.card{
    margin-bottom: 20px;
}

footer{
    margin-top: 20px;
    background-color: #3b234a;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


